<div class="col-md-3">
    <p class="lead">Pet Shop</p>
    <div class="list-group">
      
        <a href="/customer" class="list-group-item">
          Customer
        </a>
            <a href="/employee" class="list-group-item">
          Employee
        </a>
            <a href="/manager" class="list-group-item">
          Manager
        </a>
    
    
    </div>

 
</div>